/* src/app/(frontend)/styles.css */

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
}