@font-face {
  font-family: 'HebrewFont';
  src: url('../fonts/DavidLibre-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: 'DavidLibre-Bold', 'Rubik', sans-serif;
  direction: rtl;
  background-color: #fdfdfd;
  color: #111;
}
