@font-face {
  font-family: 'DavidLibre-Bold';
  src: url('/fonts/DavidLibre-Bold.woff2') format('woff2'),
       url('/fonts/DavidLibre-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'DavidLibre-Bold', 'Rubik', sans-serif;
  direction: rtl;
  background-color: #fdfdfd;
  color: #111;
}
