
/* lang/he.css */
/* body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

.navbar-logo {
  font-family: var(--font-logo);
}
[dir="rtl"] {
  direction: rtl;
  text-align: right;
} */
