@font-face {
  font-family: 'CroatianFont';
  src: url('../fonts/croatian-font.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: 'CroatianFont', 'Roboto', sans-serif;
  direction: ltr;
  background-color: #ffffff;
  color: #222;
}
